@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Enter a New Agent</h1>

<form method="post" action="/Agents/NewAgent">
    <input name="AgentCode" placeholder="AgentCode"/>
    <input name="AgentName" placeholder="AgentName"/>
    <input name="WorkingArea" placeholder="WorkingArea"/>
    <input name="Comission" placeholder="Comission"/>
    <input name="PhoneNo" placeholder="PhoneNo"/>
    <button type="submit">Save</button>
</form>
